.sidebar {
  margin-bottom: 2rem;

  &__list-item {
    display: block;
    padding: 0.6rem 0.95rem;
    margin-top: -1px;
    background-color: $main-light-color;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }

  &__link {
    color: #fff;

    &--active {
      color: $accent-color;
    }

    &:hover {
      color: $accent-color;
    }
  }
}
